#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.link{
  margin: 1rem;
}

.banner{
  background-color: rgb(255, 140, 0);
  margin-left:-10rem;
  margin-right: -10rem;
  padding: 3rem;
}

.menuItem{
  margin: 1rem;
}

.hide{
  display: none;
}

.valid{
  display: inline-block;
}

.offscreen{
  display: none;
}

.instructions{
  display: block;
}

.belowNav{
  display: flex;
  flex-direction: column;
}

form{
  background-color: #e17c01;
  padding:2rem;
}

form, p{
  display: flex;
  flex-direction: column;
  align-items: center;
}